* {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    width: fit-content;
}

#header>b {
    padding: 5px;
    text-align: center;
    min-width: 100px;
    border: 1px solid #dfe4e9;
}

#header>b:first-child {
    position: sticky;
    background-color: #bebcbc;
    left: 0;
}

.row {
    display: flex;
}

.row>b,
.row>div {
    padding: 5px;
    min-width: 100px;
    border: 1px solid #dfe4e9;
}


.row>b:first-child {
    text-align: center;
    position: sticky;
    left: 0;
    background-color: #fff;
}

#body {
    width: fit-content;
    background-color: #ffffff;
}

.footer{
    height: 30px;
    background-color: rgb(222, 214, 214);
}

/* #options {
    display: flex;
    width: 100%;
    padding: 8px;
    flex-direction: column;
} */

#active-cell {
    padding: 3px 15px;
    background-color: #fff;
}

#menus {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 0;
    padding-inline: 20px;
    background-color: #ecf0f1;
}
#bottom-bar{
    background-color: #ecf0f1;
    height: 30px;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    gap: 30px;
}

#bottom-bar > input {
    border: none;
    outline: none;
    padding-inline: 2px;
    height: 80%;
    width: 100%;
}
.formula-icon{
    height: 22px;
    width: 22px;
}

#active-cell{
    background-color: white;
    padding-inline: 20px;
}

.text-color>input,
.bg-color>input {
    position: relative;
}

.text-color>input,
.bg-color>input {
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0;
}

#menus>span,
#menus>div {
    padding: 4px;
    cursor: pointer;
    transition: 0.5s;
}

#menus>span:hover,
#menus>div:hover {
    background-color: rgb(220, 228, 228);
}

.active-option {
    background: rgb(207, 211, 211);
}

#tool {
    background-color:  #218c74;
}


.dropdown {
    position: relative;
    display: inline-block;
    z-index: 101;
}

.dropbtn {
    /* margin-top: 40%; */
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.active .dropbtn {
    background-color: #ecf0f1;
}

/* Set the background color to "aqua" */
.dropdown:hover .dropbtn {
    background-color: aqua;
}

.dropdown:hover .dropbtn,
.dropdown-content a:hover {
    background-color: #ecf0f1;
    color: black;
    height: fit-content;
}

/* Dropdown content container */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}